*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.main{
    padding-top: 60px;
    padding-bottom: 60px;
}
.header{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e7e9fc;
}
.header-logo{
    margin-right: 76px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.header-logo span{
    color: #2e2f42;
}
.list-header{
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
}
.list-header:hover,
.list-header:focus{
    color: #404bbf;
}
.address{
    margin-left: auto;
    font-style: normal;
}
.address-info{
    padding: 20px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;

}
.address-info:hover,
.address-info:focus{
    color: #404bbf;
}
.main-section{
    background-color: #2e2f42;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}
.main-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page-title{
    font-size: 64px;
    line-height: 1.1;
    max-width: 496px;
    letter-spacing: 0.02em;
    color:#ffffff;

}
.main-button{
    display: block;
    height: 56px;
    border: none;
    min-width: 169px;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
.main-button:hover,
.main-button:focus{
    background-color: #404BBF;

}
.website-team{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 72px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.benefits-list{
    width: calc((100% - 72px) / 4);
}
.feature-title {
    margin-bottom: 8px;
}
.team-info{
    color: #434455;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team{
    background-color: #F4F4FD;
}
.title-teams{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-team{
    background-color: #ffffff;
}
.footer{
    background-color: #2e2f42;
}
.paragraph-footer{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
span.footer-logo{
    color: #f4f4fd;
}
.banking-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    display: flex;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-header{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list:last-child{
    margin right: 0;
}
img{
    display: block;
}
.section-ntwo{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-team{
    display: flex;
    gap: 24px;
}
.img-list{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}
.container-name{
    padding-top: 32px;
    padding-bottom: 32px;
}